* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #D9D6D2;
  color: #3E3E40;
  font-family: 'Open Sans', sans-serif;
}

.landing-page-background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
}

div:focus, input:focus, textarea:focus, select:focus{
  outline: none;
}

a {
  text-decoration: none;
  color: #8C8C8C;
}

textarea {
  resize: none;
  box-sizing: border-box; 
  width: 100%; 
  height: 90%;
  border: none;
  background: none;
}

.label {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 60px;
}

.landing-page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title {
  font-weight: 300;
  margin: 0 6%;
  line-height: 60px;
  color: #8C8C8C;
  font-family: 'Dancing Script', cursive;
  display: flex;
  justify-content: space-between;
}

.right-side-header {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.header-background,
.landing-page-links {
  background: #D9D6D2;
}

.header-line {
  position: absolute;
  width: 100%;
  top: 36px;
  border-bottom: solid 1px #8C8C8C;
  z-index: -1;
}

.landing-page-image-container {
  width: 100%;
  height: 100%;
}

.landing-page-header-box {
  width: 850px;
  height: 470px;
  border-radius: 25px;
  /* border: solid 1px #8C8C8C; */
  z-index: -1;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.18);
}

.clouds-image {
  opacity: 0.3;
  border-radius: 25px;
}

.diaries-image {
  opacity: 0.7;
  position: absolute;
}

.landing-page-header-title {
  font-weight: 300;
  margin-left: 6%;
  line-height: 60px;
  letter-spacing: 2px;
  font-size: 60px;
  color: #8C8C8C;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: -40px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2rem;
  opacity: 0.4;
}

footer p {
  color: #8c8c8c;
}

.content {
  position: absolute;
  display: flex;
  width: 100%;
  height: 85%;
  /* border: dotted 1px red; */
  flex-direction: row;
  margin: 25px 0;
}

.left-sidebar-controls {
  display: flex;
  justify-content: center;
  height: 45px;
  border: solid 1px #5bc0de;
  background: #5bc0de;
  color: #F2F2F2;
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
}

.save-button,
.delete-button,
.save-button-inactive,
.delete-button-inactive {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.save-button {
  border: solid 1px #5bc0de;
  background: #5bc0de;
  color: #F2F2F2;
  cursor: pointer;
}

.delete-button {
  border: solid 1px #DE5B5B;
  background: #DE5B5B;
  color: #F2F2F2;
  cursor: pointer;
}

.save-button:hover,
.delete-button:hover {
  opacity: 0.5;
}

.save-button-inactive,
.delete-button-inactive {
  background: #8c8c8c2c;
  border: solid 1px #8c8c8c2c;
  color: #f2f2f2;
  cursor: not-allowed;
  pointer-events: all !important;
}

.material-icons.md-18 { 
  font-size: 18px; 
}

.add-new-diary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-margin {
  margin-right: 5px;
  align-self: end;
}

.left-sidebar-controls:hover {
  opacity: 0.5;
}

.left-sidebar {
  /* border: dotted 1px orange; */
  width: 300px;
  min-width: 300px;
  margin: 0 35px 0 6%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.diary-created-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #8C8C8C;
}

.diary-date {
  font-weight: 700;
  list-style-type: none;
}

.diary {
  background: #f2f2f2;
  border-radius: 7px;
  box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.18);
  width: 70%;
  height: 100%;
  margin-right: 6%;
  overflow: hidden;
}

.diary-controls {
  border-bottom: solid 1px #D9D6D2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f2f2f2;
  height: 45px;
  width: 100%;
}

.diary-content {
  padding: 10px;
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
}

.left-sidebar-item {
  display: flex;
  height: 35px;
  line-height: 35px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}

.left-sidebar-item:hover {
  background: #8c8c8c3e;
}

.left-sidebar-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: inherit;
  text-align: initial;
}

.left-sidebar-content-id {
  width: 35px;
  min-width: 35px;
  height: 35px;
  background: #8c8c8c2c;
  margin-right: 5px;
  color: #f2f2f2;
}

.diary-label-container {
  display: flex;
}

.arrow-down-icon {
  cursor: pointer;
}

.dl-container {
  overflow: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: -webkit-fill-available;
}

.dl-container::-webkit-scrollbar,
.card-container::-webkit-scrollbar {
  display: none;
}

.landing-page-description-container {
  position: absolute;
  margin-left: 6%;
  top: 100px;
  color: #8C8C8C;
}

.landing-page-description-content,
.start-creating {
  width: 400px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 4px;
}

.start-creating {
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 800;
  display: flex;
  align-items: center;
  color: #8C8C8C;
}

.start-creating:hover {
  color: #5bc0de;
}

.start-creating span {
  margin-left: 8px;
}

.landing-page-topbar {
  position: absolute;
  text-align: right;
  width: 850px;
  top: 30px;
  display: flex;
  justify-content: end;
  left: 50%;
  transform: translate(-50%);
}

.landing-page-links {
  margin: 22px 10px;
  border: 1px solid transparent;
  color: #8C8C8C;
  border-radius: 20px;
  padding: 4px 8px;
  cursor: pointer;
  text-decoration: none;
  line-height: 16px;
}

.landing-page-links:hover {
  border: 1px solid #8C8C8C;
}

.card-container {
  width: 300px;
  height: 300px;
  background: #F2F2F2;
  padding: 10px;
  border-radius: 4px;
  margin: 5px;
}

.card-content {
  /* width: 100%; */
  height: 80%;
  color: #3E3E40;
  border: solid 2px #D9D6D2;
  overflow: auto;
}

.card-container:hover {
  box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.18);
}

.card-title {
  margin: 8px 0;
}

.my-nft-collection {
  display: flex;
  margin-left: 6%;
}

.gallery-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  overflow: hidden;
}

.my-nft-title {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 5px;
  padding-left: 6%;
  columns: #8C8C8C;
}